 
    .section-row { 
      display: flex; 
      justify-content: space-between; 
      align-items: flex-start; 
      gap: 30px; 
      margin-bottom: 60px; 

    } 


    .section-row img { 
      margin-top: -110px;
      width: 48%; 
      border-radius: 10px; 
      object-fit: cover; 
      opacity: 90%;

    } 

 

    .text-block { 
      width: 48%; 
      font-size: 17px; 
      line-height: 1.5em; 
    } 
