.features {
  display: flex;
  gap: 20px;
  padding: 40px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;

}

.feature-card:hover {
  transition: 100ms ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  scale: 1.05;
}
